body {
	background-image: url('../images/land_island.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	/* background-position: center; */
	/* position: absolute; */
}

.header {
	background-image: url('../images/Terrae.png');
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(22, 26, 45, 0.386);
	margin-top: -40px;
	cursor: grab;
}

.skater {
	display: flex;
	flex-wrap: wrap;
	width: 50vw;
	justify-content: center;
	margin: -40px auto;
	padding: 10px;
	cursor: grab;
	opacity: 0.8;
}

/* .navbar {
	min-height: 15vh;
	display: flex;
	flex-direction: column;
} */

li {
	background-color: rgba(92, 109, 184, 0.386);
	display: inline-block;
	list-style-type: none;
	font-family: 'Syncopate', sans-serif;
	font-size: 20px;
	letter-spacing: 3px;
	position: relative;
	margin-top: 200px;
	margin-left: 65px;
	padding: 5px;
	text-align: center;
}

a:link,
a:visited {
	font-weight: bold;
	color: #fabb51;
	text-align: center;
	padding: 14px 30px;
	margin: 30px;
	text-decoration: none;
}

a:hover,
a:active {
	color: #7cd1b8;
}

.l_shoes {
	display: flex;
	flex-wrap: wrap;
	width: 20vw;
	justify-content: center;
	margin: 20px auto;
	padding: 10px;
	cursor: grab;
	opacity: 0.8;
}
