h1 {
  text-align: center;
}

.flex-row {
  display: flex;
}

.left {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.left h2 {
  text-align: center;
}

.form {
  display: block;
}

.right {
  flex: 3;
}

.comment {
  margin: 5px auto;
  border: 1px solid black;
  padding: 5px;
}

.comment h6 {
  margin: 0;
}